<ion-view view-title="Profile">
  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
          <img src="{{profile.url_photo}}" style="object-fit: cover;">
          <p>{{profile.nome}}</p>
          {{profile.apelido}}
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <b>Email:</b> {{profile.email}}
      </div>
    </div>
    
    <div class="list card">
      <div class="item">
        <b>Telefone:</b> {{profile.telefone}}
      </div>
    </div>
    
    <div class="list card">
      <div class="item">
        <b>Nascimento:</b> {{profile.data_nascimento | date:'dd-MM-yyyy'}}
      </div>
    </div>
    
    <div class="list card">
      <div class="item">
        <b>Gênero:</b> {{profile.genero}}
      </div>
    </div>
    
  </ion-content>
</ion-view>
