/* Empty. Add your own CSS if you like */
.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.img-circle {
	border-radius: 50%;
}
.text-center{
	text-align: center;
}
.mg-no{
	margin: 0;
}
.social{
	padding: 0;
}
.social a{
    width: 25%;
    float: left;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.social a i{
	font-size: 8vw;
}